a {
  cursor: pointer;
}
.logo {
  width: 100%;
  @include media-breakpoint-up(md) {
    max-width: rem(138);
  }
}
.header {
  position: relative;
  z-index: 15;
  background: white;
  @include media-breakpoint-up(md) {
    padding: rem(15) 0;
  }
  @include media-breakpoint-down(sm) {
    z-index: 15;
  }
  .row {
    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-left: 0;

      > .col,
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
.header__slogan {
  color: #333333;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  width: rem(190);
  margin-left: rem(-10);
  @include media-breakpoint-only(md) {
    float: right;
  }
}
.header__contacts {
  color: $gray;
  font-size: rem(24);
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: rem(7);
}
a {
  color: $blue;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  transition: 0.2s;
  &:hover {
    color: #0480be;
  }
}
.top-menu {
  @include media-breakpoint-up(md) {
    background: $blue;
    transition: 0.6s;
    &:hover {
      background: $blue2;
    }
  }
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    background-color: $light;
    padding-top: mrem(22);
  }
}
.top-menu__btn {
  margin: 4px 0;
  @include media-breakpoint-up(lg) {
    white-space: nowrap;
  }
}
.top-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  @include media-breakpoint-up(md) {
    justify-content: space-around;
    height: 100%;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
.top-nav-item {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}
.top-nav-link {
  display: block;
  font-weight: 400;
  @include media-breakpoint-up(md) {
    color: $white !important;
    font-size: rem(15);
    padding: rem(10) 5px;
    text-decoration: none;
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    font-size: mrem(30);
    line-height: mrem(100);
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
    &.active {
      color: $blue;
      border-bottom: 13px solid $blue;
      line-height: 53px;
      margin-bottom: 11px;
      margin-top: 24px;
    }
  }

}
.btn {
  display: inline-block;
  color: $white;
  font-size: rem(14);
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: 0.4s;
  @extend .btn-mobile;
  position: relative;
}
.btn-transparent {
  padding: rem(7) rem(18);
  color: $white;
  border: 1px solid white;
  &:hover {
    background: rgba($white, 0.2);
    color: $white;
  }
}

.cart__hearder {
  display: flex;
}
.cart__icon {
  background-color: $yellow2;
  width: 8.3em;
  height: 8.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include media-breakpoint-down(sm) {
    background-image: url(../images/cart.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  @include media-breakpoint-down(xs) {
    background-size: 40%;
  }
}
.cart__summ {
  background-color: $yellow;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray;
  font-size: 24px;
  font-weight: 600;
}
.show-all {
  display: block;
  color: $link;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: underline;
  transition: 0.2s;
  padding: 23px 5px;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: $white;
    background: $link;
    text-decoration: none;
  }
}
.cart-item {
  border-bottom: 2px solid $blue;
  background-color: #f6f6f6;
  padding: 25px 25px 5px;
  position: relative;
  transition: 1s;
  transform: scale(1);
  transform-origin: top left;

    &:nth-child(2n) {
      background: $white;
    }
}
.item-title {
  line-height: 18px;
  color: $link2;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 20px;
  transition: 0.2s;
  display: block;
  &:hover {
    color: $blue;
  }
}
.item-del {
  color: $gray2;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 700;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($danger, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
  }
  &:hover {
    color: $danger;
    &:after {
      opacity: 1;
    }
  }
}
.item-del__text {
  text-decoration: underline;
  font-weight: 300;
}
.cart__hearder {
  pointer-events: all;
  position: relative;
  z-index: 6;
}
.cart__body {
  transition: 0.6s;
  transform: translateY(-100%);
  background: $white;
  pointer-events: all;
  position: relative;
  z-index: 5;
  transition-delay: 0s;
}
.cart {
  width: 26.9em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  transition: 0.6s;
  transition-delay: 0.4s !important;
  transform: translateX(18.6em) !important;
  pointer-events: none;
  animation-name: none;
  overflow: hidden;
  font-size: 10px;
  @include media-breakpoint-only(sm) {
    font-size: 18px;
  }
  .animate {
    opacity: 1;
  }
  &:hover {
    transition: 0.4s;
    transform: translateX(0) !important;
    transition-delay: 0s !important;
    .cart__body {
      transition: 0.4s;
      transition-delay: 0.4s;
      transform: translateY(0);
    }
  }
}
.price {
  color: $blue;
  font-size: 18px;
  font-weight: 600;
}
.cart__num {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  background-color: $gray;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  color: $white;
  font-size: 1.3em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  display: block;
  background-color: $yellow;
  width: 113px;
  height: rem(5);
  position: absolute;
  transition: .6s;
  bottom: 0;
  left: 0;
  opacity: 0;
  @include media-breakpoint-down(md) {
    display: none;
  }
}
ul.top-nav:hover {
  .border {
    opacity: 1;
  }
}

.static {
  position: static;
}
.cart-shadow {
  font-size: 10px;
  @include media-breakpoint-only(sm) {
    font-size: 18px;
  }
  @extend .cart__icon;
  position: static;
  opacity: 0;
}


.gamburger{
  font-size: 10px;
  display: inline-block;
  width: 7.9em;
  height: 5.4em;
  transition: 1s;
  position: relative;
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    font-size: 7px;
  }
  &.open {

  }
}
.gamburger span{
  display: block;
  width: 100%;
  height: 1.4em;
  background: $yellow;
  position: absolute;
}
.gamburger-line1{
  top: 0;
  left: 0;
  transition: 0.4s;
}
.gamburger-line2{
  top: 50%;
  margin-top: -0.7em;
  left: 0;
}
.gamburger-line3{
  top: 100%;
  margin-top: -1.4em;
  left: 0;
  transition: 0.4s;
}
.gamburger.open .gamburger-line1{
  transform: rotate(45deg);
  top: 50%;
  margin-top: -0.7em;
}
.gamburger.open .gamburger-line2{
  position: absolute;
  left: -400%;
}

.gamburger.open .gamburger-line3{
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -0.7em;
}
.btn-mobile {
  @include media-breakpoint-down(sm) {
    display: block;
    font-size: calc(1rem + 2.8vw) !important;
    padding: mrem(22) mrem(5) !important;
    border-width: 2px !important;
    width: 100%;
  }
}
.top-menu__btn--mobile {
  @extend .btn;
  @extend .btn-white;
  @extend .btn-mobile;
  margin-top: mrem(70);
  margin-bottom: mrem(20);
}
.mobile-toggle {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.fixed-header {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  transition: 0.6s;
  z-index: 20;
  &.sticky {
    top: 0;
  }
  .top-menu {
    border-bottom: 2px solid #1c8b9b;
  }
}